.dropdown-container {
  position: relative;
  width: 215x;
  max-height: 113px;
  margin-top: 0;
  margin-bottom: 10rem;
}

.dropdown-menu {
  display: flex;
  gap: 7px;

  position: absolute;
  padding: 5px 6px;
  top: calc(100% + 4px);
  left: 0;

  font-size: 10px;

  display: flex;
  flex-direction: column;

  width: 215px;
  max-height: 113px;

  overflow-y: auto;

  background: #F8F7FA;

  border: 1px solid #A89DC8;
  border-radius: 8px;
  box-shadow: 0 1px 2px 0 rgba(145, 158, 171, 0.12);
  z-index: 10;
}

.dropdown-menu::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

.dropdown-menu::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.dropdown-menu::-webkit-scrollbar-track {
  background: #F8F7FA;
  border-radius: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #A89DC8;
  border-radius: 6px;
  border: 3px solid #F8F7FA;
}

.dropdown-menu::-webkit-scrollbar-corner {
  background: transparent;
}

.dropdown-menu .dropdown-container button {
  padding: 2px 4px;
  border: none;
  border-radius: 8px;
  max-height: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Public-Sans', sans-serif;
}

.button-select {
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
  padding: 2px 4px !important;
  cursor: pointer;
  max-height: 22px;
  height: 22px;
}

.select-placeholder {
  font-family: 'Public-Sans', sans-serif;
  font-size: 12px;
  color: #6E5CA3;
}

.dropdown-item {
  list-style: none;
  max-width: 203px;
  height: 22px;
  max-height: 22px;
  border-radius: 8px;
  padding: 1px 4px;
  color: #6E5CA3;
}

.dropdown-option {
  padding: 2px 4px;
  color: #6E5CA3;
  width: 95%;
  min-width: 200px;
  background: transparent;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  transition: background-color 0.15s;
}

.dropdown-option:hover {
  background-color: #E2DEED;
}

.dropdown-option.selected {
  background-color: #DEDBFF;
  border-color: #8a7dd8;
  color: #2C2541;
  font-weight: 400;
}

.dropdown-item-text {
  flex: 1;
  font-family: 'Public-Sans', sans-serif;
  font-size: 14px;
}

.moodlet.with-text,
.moodlet-clarity.with-text {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 12px;
}

.selected-display {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  justify-content: flex-start;
}

.selected-moodlet {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.selected-text {
  color: #2C2541;
  font-size: 12px;
  letter-spacing: 0px;
  font-weight: 400;
}